<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>och16_mvc02</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

	<servlet><!-- 서블릿 선언 -->
		<servlet-name>Controller</servlet-name><!-- 서블릿 명 -->
		<servlet-class>control.Controller</servlet-class><!-- 서블링 경로 : package.servlet -->
		<init-param><!-- 파라미터 지정 -->
			<param-name>config</param-name>
			<param-value>/WEB-INF/command.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping><!-- 서블릿 이벤트 연결 -->
		<servlet-name>Controller</servlet-name><!-- 서블릿 명 -->
		<url-pattern>*.do</url-pattern><!-- 이벤트 종류 : *.do형태의 url이 호출된 경우 -->
	</servlet-mapping>
</web-app>